<%- include("layout/_header.ejs") %>

<form method="post" id="update" action="/api/posts">
    <h1>Create New Post</h1>
    <input type="date" name="date" class="form-control my-2">
    <textarea name="body" cols="30" rows="10" class="form-control my-2" placeholder="Enter Your Text Here..."></textarea>
    <button type="submit" class="btn btn-outline-primary">Create</button>
</form>

<%- include("layout/_footer.ejs") %>