<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar container mb-3">
            <a href="/" class="navbar-logo">Logo</a>
            <div class="navbar-menu">
                <a href="/"><i class="bi bi-journal-check"></i>All Lists</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <a href="/" class="text-capitalize d-inline-block mb-3">
            <i class="bi bi-arrow-left-circle"></i>all
        </a>
        <a href="/posts/create" class="text-capitalize d-inline-block mb-3">
            <i class="bi bi-plus-circle"></i>New
        </a>